body {
  margin: 0;
  padding: 0;
  background-color: #464646;
  font-family: 'Roboto', sans-serif;
  color: #C1C1C1
}

.font-size-p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.font-size-m {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.logo {
  margin: 0;
  padding: 0;
  height: 50px;
}

.logo img{
  margin: 20px;
  height: 100%;
}

.header-nav {
  width: 100%;
  height: 9.5%;
  background-color: #464646;
  border-top: 1px solid #C64706;
  margin-top: 30px;
}

.header-nav-li {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.header-nav-li li {
  list-style: none;
  width: 30%;
  height: 100%;
  margin: 0;
  border-bottom: 1px solid #C64706;
  color: #C1C1C1;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
}

.section-header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.section-sign-in, .section-sign-up{
  margin: 0 auto;
  display: flex;
  max-width: 70%;
  flex-direction: column;
}
.form-sign-in, .form-sign-up {
  align-items: center;
  justify-content:center;
}

.btn-login{
  background-color: #C64706;
  color: #C1C1C1;
  border: 1px solid #C64706;
  width: 140px;
  height: 35px;
  padding: 12px 12px;
  margin: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.rounded-border{
  background-color: #C1C1C1;
  border: 1px solid #C1C1C1;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 10px;
}

.d-none{
display: none;
}

.login-options{
  display:flex;
  justify-content: space-around;
  padding: 5px;
}